<div class="row ms-1">
    <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="assets/image2.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Google Texas</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus laboriosam distinctio delectus quia eaque.</p>
              <div class="text-center">
                <button class="btn btn-danger">Go somewhere</button>
              </div>
            </div>
          </div>
    </div>

    <div class="col-md-4  mb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="assets/image3.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Amazon Florida</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus laboriosam distinctio delectus quia eaque.</p>
              <div class="text-center">
                <button class="btn btn-danger">Go somewhere</button>
              </div>
            </div>
          </div>
    </div>

    <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="assets/image4.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Celebal Jaipur</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus laboriosam distinctio delectus quia eaque .</p>
              <div class="text-center">
                <button class="btn btn-danger">Go somewhere</button>
              </div>
            </div>
          </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="assets/image5.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Microsoft Bnagalore</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus laboriosam distinctio delectus quia eaque .</p>
              <div class="text-center">
                <button class="btn btn-danger">Go somewhere</button>
              </div>
            </div>
          </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="assets/image6.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Capgemini India</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus laboriosam distinctio delectus quia eaque .</p>
              <div class="text-center">
                <button class="btn btn-danger">Go somewhere</button>
              </div>
            </div>
          </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-responsive" src="assets/image7.jpg" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Tata Motors</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus laboriosam distinctio delectus quia eaque .</p>
              <div class="text-center">
                <button class="btn btn-danger">Go somewhere</button>
              </div>
            </div>
          </div>
    </div>
</div>