<div class="parent-div">
    <div class="child-div">
        <div class="image-div" style="border-right: 1px solid aliceblue;">
            <img class="img-fluid" width="400" src="assets/profile.png">
        </div>
        <div class="text-div">
            <div class="page-text" style="padding: 3%;">
                <span>Forgot</span><br><br>
                <span>Password?</span>
            </div>
            <div class="email-text" style="padding-left: 3%;">
                <span style="font-size: 2vw;">Enter the email address</span><br>
                <span style="font-size: 2vw;">associated with your account.</span>
            </div>
            <div class="input-div mt-4" style="padding-left: 4%;">
                <input #text style="width: 80%; border: none; outline: none; border-bottom: 1px solid black;" type="email" placeholder="Enter Email Address">
            </div>
            <div class="send-link mt-5">
                <span>Try another way</span>
                <button (click)="alertMessage(text.value)">Send Link</button>
            </div>
            <div class="footer-div mt-5">
                <a routerLink="../login">Back to login</a>
            </div>
        </div>
    </div>
    </div>