.parent-div{
    background-color: aliceblue;
    padding: 5%;
}
.child-div{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    background-color: white;
    border-radius: 18px;
}
.image-div{
    width: 50%;
    padding: 12%;
}
.text-div{
    width: 50%;
    padding: 6%;
}
.page-text span {
    color: rgb(95, 149, 151);
    font-size: 3vw;
    font-weight: 400;
}
.email-text span{
    line-height: 1.5;
}
input::placeholder{
    color: rgb(86, 77, 77);
    padding-bottom: 2%;
}
.send-link{
    padding-left: 4%;
    width: 85%;
}
.send-link span{
    color: rgb(95, 149, 151);
    font-size: 16px;
}
.send-link button{
    float: right;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(95, 149, 151);
    padding: 8px 14px;
    border-radius: 18px;
}
.footer-div{
    padding-left: 5%;
}
.footer-div a{
    color: grey;
}
.footer-div a:hover{
    text-decoration: underline;
    color: blue;
}